{% extends 'base.html.twig' %}

{% form_theme formMouvementPiece 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
    <style>
        .form-group-piece {
            display: inline-block;
            padding: 0 10%;
            margin: 0 auto;
        }
        .form-group-piece .col-md-3 {
            display: inline-block;
        }

        @media (max-width: 768px) {
            .form-group-piece {
                display: inline-block;
                padding: 1% 0;
            }
        }

        .btn-container {
            margin: 0 auto;
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container">
        <h1>{{ 'Receipt record' | trans }}</h1>

        {{ form_start(formMouvementPiece) }}
        <div class="col-md-9 form-group-piece  d-flex justify-content-between">
            <div class="form-group col-md-3 col-sm-12 col-xs-12">
                <label for="">{{ 'Provider' | trans }}</label>
                {{ form_widget(formMouvementPiece.fournisseur, {'attr': {'placeholder': 'Provider' | trans}}) }}
            </div>
            <div class="form-group col-md-3 col-sm-12 col-xs-12">
                <label for="">{{ 'Family' | trans }}</label>
                {{ form_widget(formMouvementPiece.famille, {'attr': {'placeholder': 'Family' | trans}}) }}
            </div>
            <div class="form-group col-md-3 col-sm-12 col-xs-12">
                <label for="">{{ 'Subfamily' | trans }}</label>
                {{ form_widget(formMouvementPiece.sousFamille, {'attr': {'placeholder': 'Subfamily' | trans}}) }}
            </div>
        </div>
        <div class="col-md-9 form-group-piece  d-flex justify-content-between">
            <div class="form-group col-md-3 col-sm-12 col-xs-12">
                <label for="">{{ 'Quantity' | trans }}</label>
                {{ form_widget(formMouvementPiece.quantity, {'attr': {'placeholder': 'Quantity' | trans}}) }}
            </div>
            <div class="form-group col-md-3 col-sm-12 col-xs-12">
                <label for="">{{ 'Dimension' | trans }}</label>
                {{ form_widget(formMouvementPiece.dimension, {'attr': {'placeholder': 'Dimension' | trans}}) }}
            </div>
            <div class="form-group col-md-3 col-sm-12 col-xs-12">
                <label for="">{{ 'Weight' | trans }}</label>
                {{ form_widget(formMouvementPiece.weight, {'attr': {'placeholder': 'Weight' | trans}}) }}
            </div>
        </div>
        <div class="col-md-3 btn-container">
            <button type="submit" class="btn btn-success">
                {{ 'Save' | trans }}
            </button>
        </div>

        {{ form_end(formMouvementPiece) }}
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("select#form_famille").change(function () {
                familleId = $(this).val();
                $("select#form_sousFamille option").each(function () {
                    if ($(this).data("famille") != familleId) 
                        $(this).hide();
                    else 
                        $(this).show();
                    }
                );
            });

            $("select#form_sousFamille option").each(function () {
                if ($(this).data("famille") != 1) 
                    $(this).hide();
                else 
                    $(this).show();
                }
            );
            $("select#form_sousFamille").prepend("<option value='' selected>Sous-famille</option>");
        });
    </script>
{% endblock %}